@media (min-width:991px) and  (max-width:1024px) {
    .pages ul li a {
        text-decoration: none;
        color: var(--white);
        padding: 10px 8px;
        mix-blend-mode: difference;
    }
}
@media (min-width:991px) {
    .mobile_menu,
    .mobile_pages_list {
        display: none;
    }    
}
@media (max-width:991px) {
    .pages ,
    .icons {
        display: none;
    }    
}
